<h1>Sample Scripts</h1>
<ul>
  <li><%= link_to "Card Payment Simple", card_payment_simple_path %></li>
  <li><%= link_to "Card Payment With Customer Vault", card_payment_customer_vault_path %></li>
  <li><%= link_to "Customer Vault", customer_vault_path %></li>
  
  <li><%= link_to "Direct Debit", direct_debit_path %></li>
  <li><%= link_to "3D Secure", three_d_secure_index_path %></li>
</ul>