<h1>Customer Vault</h1>

<ul>
  <li><%= link_to "Create ACH Bank Account", create_ach_account_path %></li>
  <li><%= link_to "Create EFT Bank Account", create_eft_account_path %></li>
  <li><%= link_to "Create BACS Bank Account", create_bacs_account_path %></li>
  <li><%= link_to "Create SEPA Bank Account", create_sepa_account_path %></li>
  <li><%= link_to "Create SEPA Mandate", create_sepa_mandate_path %></li>
  <li><%= link_to "Create BACS Mandate", create_bacs_mandate_path %></li>
</ul>