<h1>Submit an ACH Purchase Request Using Payment Token</h1>
<% unless @response.nil? %>
  <pre>
  <%= YAML::dump(@response) %>
  </pre>
<% end %>

<%= form_tag do %>
  <%= field_set_tag "ACH Purchase" do %>
  	<%= render "shared/field", name: :merchantRefNum, default: SecureRandom.uuid %>
  	<%= render "shared/field", name: :amount %>
  	<%= render "shared/field", name: :paymentToken, default: @ach_paymentToken %>
  	<%= render "shared/field", name: :payMethod, default: "WEB" %>
  <% end %>
  <%= submit_tag "Submit", class: "btn btn-default" %>
<% end %>
